.Navbar {
    width: 100%;
    padding: 0.5rem 0;
    background-color:rgba(155, 8, 20, 0.8);
  }
  
  .Navbar__brand {
    color: #ffffff;
  
    display: flex;
    align-items: center;
  }
  
  .Navbar__brand:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .Navbar__brand-logo {
    margin-right: 0.5rem;
    width: 30px;
  }